URL=https://gpkmfsjbsmjibjsvahru.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdwa21mc2pic21qaWJqc3ZhaHJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3MTkxMzIsImV4cCI6MjA5MjI5NTEzMn0.redPVv37cpaEuTXkp0urX69yXeHGUySv4HrPj8ipuFY

